<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - TP Spotify</title>
    <link rel="stylesheet" href="/stylecss/stylecss.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon TP Spotify</h1>
        <h4>Sélectionnez une page à visiter :</h4>

        <nav class="navigation">
            
            <div class="artist-block">
                <a href="/album/damso" class="btn">
                    Voir les albums de Damso
                </a>
                <img src="/image/damso.jpg" alt="Damso" class="home-img">
            </div>

            <div class="artist-block">
                <a href="/track/laylow" class="btn">
                    Voir le titre de Laylow
                </a>
                <img src="/image/laylow.jpeg" alt="Laylow" class="home-img">
            </div>

        </nav>
    </div>
</body>
</html>